In [7]:
from pyspark.sql import SparkSession
from delta import *
from pyspark.sql import Row

In [8]:
import subprocess
import json
import os

In [9]:
import sys
sys.path.insert(0, r'/container/pyspark_workspace/source_code')

In [10]:
import utils.spark as utils_spark

In [11]:
spark, sqlContext = utils_spark.createSparkSession()

spark_submit_local_jars_str:
		 /container/pyspark_workspace/local_data_storage/spark/jars/delta-core_2.12-2.1.0.jar,/container/pyspark_workspace/local_data_storage/spark/jars/mssql-jdbc-12.8.1.jre11.jar,/container/pyspark_workspace/local_data_storage/spark/jars/spark-avro_2.12-3.4.0.jar,/container/pyspark_workspace/local_data_storage/spark/jars/spark-sql-kafka-0-10_2.12-3.4.0.jar
spark_submit_jdbc_driver_str:
		 /container/pyspark_workspace/local_data_storage/spark/jars/mssql-jdbc-12.8.1.jre11.jar
spark_submit_extensions_str:
		 io.delta.sql.DeltaSparkSessionExtension

In [12]:
# import os

# current_path = os.getcwd()
# print(current_path)

In [13]:
# current_dir = os.path.dirname(os.path.abspath('__file__'))
# current_dir

In [14]:
# new_path = './..'
# os.chdir(new_path)
# current_path = os.getcwd()
# print(current_path)

In [25]:
from generate_data.generate_dummy_data import DummyDataGenerator

TypeError: DummyDataGenerator.generate_data() missing 1 required positional argument: 'num_records'

In [26]:
# Retrieve input variables from Airflow task parameters
server_name = 'sqlserver_database_1'
database_name = 'CreditStagingDB'
username = 'SA'
password = 'SQL_Server_Password_1000'


# JDBC URL
jdbc_url = f"jdbc:sqlserver://{server_name};databaseName={database_name};user={username};password={password}"

# Function to insert data into a table
def insert_data(table_name, data):
    df = spark.createDataFrame([Row(**i) for i in data])
    df.write \
        .format("jdbc") \
        .option("url", jdbc_url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password) \
        .option("encrypt", True)\
        .option("trustServerCertificate", True)\
        .mode("append") \
        .save()

generator = DummyDataGenerator()

for _ in range(1):
    customer_product_account_data, account_transaction_history_data = generator.generate_data(20)
    # Generate and insert data for CustomerProductAccount table
    insert_data('CustomerProductAccount', customer_product_account_data)
    # Generate and insert data for AccountTransactionHistory table
    insert_data('AccountTransactionHistory', account_transaction_history_data)
    # time.sleep(5)  # Sleep for 5 seconds

# Stop the Spark session
# spark.stop()

TypeError: Provider.phone_number() got an unexpected keyword argument 'style'

In [48]:
# spark.createDataFrame()
a  = [Row(**i) for i in customer_product_account_data]
spark.createDataFrame(a).show()

+--------------------+---------+--------+-----------+-----------+-----------------+-----------------+-----------------+--------------------+--------------------+--------------------+-----------+------------+--------------------+-----------+--------+----------+----------+--------------------+--------------------+--------------------+
|          CustomerID|FirstName|LastName|DateOfBirth|        SSN|             Ward|         District|             City|         PhoneNumber|               Email|           ProductID|ProductName|InterestRate|           AccountID|LimitAmount| Balance|  OpenDate| CloseDate|            StatusID|         CreatedDate|          UpdateDate|
+--------------------+---------+--------+-----------+-----------+-----------------+-----------------+-----------------+--------------------+--------------------+--------------------+-----------+------------+--------------------+-----------+--------+----------+----------+--------------------+--------------------+--------------------+
|cccfae7b-9e47-4b2...|   Gerald|    Gray| 2001-10-29|680-27-2858|        Pham Ways|     Jessicaville|         Port Amy|        234-661-0683|jmcguire@example.org|cadf1848-ae8f-4bf...|          a|        0.47|63b694bb-6f58-4c4...|    30443.2|42445.22|2021-04-27|2025-08-27|c1643f62-5bda-437...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|3a343e8c-f9fa-4bd...|   Leslie|  Warren| 2016-04-22|639-79-0558|      Brenda Mill|      Jeffreyport|       Crossville|          4573587998|aliciacraig@examp...|46985e01-848e-46f...|    perhaps|        0.82|5435c3a8-091c-41a...|   40894.99|  7377.8|2023-05-28|2027-11-30|0749d2af-f216-4ad...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|1e569c95-ec0e-48b...|  Felicia|  Obrien| 2016-01-21|209-47-7814|    Hodges Courts|   West Aaronfurt|        Jonesport|  (673)323-2589x1259|millsjulie@exampl...|eeb19f39-1bc1-4da...|      power|        0.73|11e6c5e2-f5a2-4d3...|   29269.25|17773.04|2023-02-02|2028-10-31|2a57a24a-83e2-499...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|1f006229-3a14-435...|  Leonard| Jimenez| 1941-01-20|798-64-5905|      Pratt Green|   New Brandytown|     Port Michael|   472-403-7505x6607|jessica55@example...|6eaf930b-13e5-47e...|       play|        0.72|c4212f74-c467-4d8...|   34894.17|39003.93|2024-06-30|2025-09-19|11c1a145-b3ff-49d...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|1c23d830-7729-48a...| Danielle|  Bryant| 1919-06-12|445-97-1342|    Amanda Tunnel|       Desireeton|    North Michael|  703.795.3863x10612|smithcharles@exam...|99a182aa-71b2-4e6...|       tell|        0.52|764f5661-6626-407...|   18869.01|22819.88|2020-05-18|2028-06-13|b6bb90c7-23d0-420...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|88de0964-3255-4cd...|    James|    Buck| 1964-11-28|060-53-0717|    Meyer Prairie|  Gonzalezborough|        Saraville|001-837-802-9010x993|floressherri@exam...|2b3ce2fb-cc78-454...|        try|        0.21|b778a4d1-92be-4a6...|   48187.59|43017.42|2020-04-23|2027-06-07|7116692e-c218-4cc...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|98666e24-d486-44d...|Christian|    Cook| 1976-06-20|440-24-3348|  Jennifer Canyon|      New Annland|   Harringtonside|   349.846.5457x8011|uschmidt@example.com|d6690f31-4bd6-4da...|   employee|        0.97|a36bfad0-3035-41e...|   15232.19|49775.26|2021-03-21|2029-10-12|295bb311-fd22-414...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|4f4d97e1-c0bc-4c2...|    Susan| Baldwin| 1946-06-27|702-84-1647|Gillespie Squares|Richardsonchester|  North Katherine|  330.762.0610x89590|justingreen@examp...|decae0d3-1b84-40d...|        bad|        0.43|13a1d9ce-0eaa-4ad...|   21795.51|  9850.3|2023-11-29|2025-08-13|349d0bd0-cae6-423...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|3ea6d06a-588d-443...|     Jane|    Rowe| 1945-12-15|065-39-6190|      Dana Corner|    Schneiderland|       Lake Kevin|     +1-337-850-6207|jcameron@example.com|d2806611-0c8f-4b0...|      speak|        0.67|11771ece-5a41-45b...|    5969.06|  103.41|2022-07-11|2024-11-25|5e73b894-bf44-408...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|341fbce9-ad6f-408...|  Stephen|    Pugh| 2019-12-25|094-39-3835|       Dale Locks|      Crystalfort|        Amberberg|     +1-969-524-8106|kelsey07@example.org|803c1782-6e72-411...|       find|         0.3|7292bbed-285d-456...|   29558.18|28610.33|2023-11-04|2028-10-18|8cb52259-931e-4e5...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|13d6bb9d-ce97-4e3...|  Michael|  Savage| 2004-01-29|827-59-8003|Katherine Squares|     Patriciaview|      Torreshaven| +1-470-790-1474x584|sbarnett@example.com|85046dc2-7b33-47f...|       case|        0.18|2cda64ea-6132-4a9...|   24692.06|27741.81|2022-03-18|2025-11-26|77060d3c-2fbd-4d9...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|bfa14e7a-e322-4c3...|    Alexa|  Gordon| 1938-11-03|822-08-6230|    Johnson Lodge|         Huntstad|     West Charles|   310.512.9345x5589|erikacox@example.org|5084c86a-1b9a-4e4...|    compare|        0.61|1e838c8c-a413-4e6...|   10151.23| 5845.34|2024-03-19|2025-11-11|c7968191-b8fe-46b...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|d29dd862-05f8-40a...|   Donald| Ellison| 1988-06-29|085-72-0933|  Melissa Springs|    South Kathryn|     North Autumn|  467.520.6543x77199|melissa09@example...|15f79eae-653c-459...|      seven|        0.14|5086ced3-ce12-4dd...|     5310.0|42463.12|2020-01-08|2027-11-29|f07d6bdb-5bf3-402...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|dcd722b0-3fc2-4a2...|  Jeffery| Swanson| 1987-06-12|351-73-1532| Rodriguez Lights|        Prattbury|      Comptonland|        274-570-3188|amberkirk@example...|62830d0d-df59-45c...|       walk|        0.93|e2eb3f7f-5f72-4ed...|    5542.62| 8911.35|2022-09-13|2025-04-23|fced4dfc-866d-4b6...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|bd372f6e-da98-47c...|    Susan| Shelton| 1962-06-20|176-58-6416|   Tucker Streets|       Richardton|     Lake Jessica|  277-933-0007x49864|  tony62@example.net|2b3ce2fb-cc78-454...|        try|        0.21|89839edc-ceb1-486...|   24927.85| 2726.91|2021-03-19|2028-09-12|6675514e-83f3-4aa...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|ea25b777-e830-4d5...|  Chelsea|Peterson| 1961-02-08|019-28-7702|  Matthews Plains|        Debraland|      Cooperville|   891.763.4599x9878|pratttara@example...|5ae6c5b0-16c0-4d2...|    station|         0.4|3d60aab3-1944-496...|   47917.06|48475.49|2021-08-25|2025-09-08|37239450-40d3-47c...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|84b155c8-51ce-4d3...|  Matthew|    Cruz| 1917-05-14|297-07-8638|      Hill Circle|        Greenstad|      West Daniel|+1-368-798-0517x3208|jaredthompson@exa...|62830d0d-df59-45c...|       walk|        0.93|ba10e13e-d11d-40c...|    47911.7|40542.86|2022-06-27|2027-11-22|34cc4fbc-901b-444...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|c2b8cae2-4a07-43a...|  Bridget|Williams| 1953-02-22|370-36-9585|       Craig Loop|       Petershire|      Pageborough| +1-627-697-5153x326|twilliamson@examp...|f1917d3d-ef5b-4cf...|    student|         0.3|7fa9f45a-1b1c-410...|    9654.01|46257.14|2022-07-25|2026-12-26|eca1f26c-4b48-4de...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|4f6e5ba6-be25-401...|Elizabeth| Pollard| 1911-05-06|101-39-3229|   Elliott Groves| East Erikchester|Lake Rebeccamouth|001-348-369-9269x...|portermitchell@ex...|eeb19f39-1bc1-4da...|      power|        0.73|f8d5deb1-6340-4e2...|   29610.58| 6190.08|2022-01-18|2028-12-15|e736ba46-74a2-457...|2024-11-20T19:05:...|2024-11-20T19:05:...|
|ea970712-0977-48c...|   Justin|   Smith| 2001-02-13|483-06-6242|Elizabeth Heights|       Torresport|     Jessicahaven|       (490)422-0742|powellbrianna@exa...|5976cf4f-1d33-448...|       rule|        0.69|65e38abe-1692-4d1...|   16631.52|28400.17|2020-04-11|2029-11-19|31aec9be-e13c-497...|2024-11-20T19:05:...|2024-11-20T19:05:...|
+--------------------+---------+--------+-----------+-----------+-----------------+-----------------+-----------------+--------------------+--------------------+--------------------+-----------+------------+--------------------+-----------+--------+----------+----------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [3]:
# import requests
# api_token = 'dapia4995328bd677127734386305a9cf6b0'
# databrick_url = 'adb-8623833702503865.5.azuredatabrick.net'
# headers = {
#     'Authorization': f'Bearer {api_token}',
#     'Content-Type': "application/json"
# }
# run_reponse = requests.get(
#     f'https://{databrick_url}/api/2.0/secrets/acls/list',
#     headers=headers,
#     json = {
#         'scope':'ls_kv_vn01_adf_vlt01'
#     }
# )
# run_reponse.json()

In [4]:
# with open("my_new_file.txt", "w") as file:
#     file.write("This is some text inside the file.")

In [ ]:
# builder = SparkSession.builder.appName("MyApp") \
#     .master("spark://spark-master:7077")\
#     .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
#     .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

# spark = configure_spark_with_delta_pip(builder).getOrCreate()


    
# spark.sparkContext.setLogLevel("WARN")

:: loading settings :: url = jar:file:/usr/local/lib/python3.11/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-f8c0bcc0-205a-47d0-9017-950914b06b97;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.2.0 in central
	found io.delta#delta-storage;3.2.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
downloading https://repo1.maven.org/maven2/io/delta/delta-spark_2.12/3.2.0/delta-spark_2.12-3.2.0.jar ...
	[SUCCESSFUL ] io.delta#delta-spark_2.12;3.2.0!delta-spark_2.12.jar (63342ms)
downloading https://repo1.maven.org/maven2/io/delta/delta-storage/3.2.0/delta-storage-3.2.0.jar ...
	[SUCCESSFUL ] io.delta#delta-storage;3.2.0!delta-storage.jar (779ms)
downloading https://repo1.maven.org/maven2/org/antlr/antlr4-runtime/4.9.3/antlr4-runtime-4.9.3.jar ...
	[SUCCESSFUL ] org.antlr#antlr4-runtime;4.9.3!antlr4-runtime.jar (2822ms)
:: resolution report :: resolve 7546ms :: artifacts dl 66961ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.2.0 from central in [default]
	io.delta#delta-storage;3.2.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   3   |   3   |   0   ||   3   |   3   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-f8c0bcc0-205a-47d0-9017-950914b06b97
	confs: [default]
	3 artifacts copied, 0 already retrieved (6321kB/34ms)
24/11/04 17:44:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# spark.version

In [4]:
# data = [("Alice", "34"), ("Bob", "45"), ("Cathy", "29")]
# df = spark.createDataFrame(data, ["Name", "Age"])
# df.show()

In [7]:
data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name", "age"])
df.toPandas()

    name  age
0  Alice   25
1    Bob   30

In [3]:
data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name", "age"])
df.write.format("delta").mode('overwrite').option('overwriteSchema',True).save("/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A")

24/08/31 12:43:45 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [5]:
spark.read.format('delta').load("/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A").toPandas()

    name  age
0  Alice   25
1    Bob   30

In [ ]:
df = spark.sql(''' 
DESC HISTORY delta.`/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A`
''')

In [ ]:
from ipydatagrid import DataGrid
DataGrid(df)

DataGrid(auto_fit_params={'area': 'all', 'padding': 30, 'numCols': None}, corner_renderer=None, default_render…

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': range(1, 101),
    'B': range(101, 201),
    'C': range(201, 301),
    'D': range(301, 401)
})

# Set various display options
pd.set_option('display.max_rows', 6)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_colwidth', 50)
pd.set_option('display.width', 1000)
pd.set_option('display.precision', 2)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.show_dimensions', True)
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_seq_item', 10)
pd.set_option('display.memory_usage', True)

# Display DataFrame
df

      A    B    C    D
0     1  101  201  301
1     2  102  202  302
2     3  103  203  303
..  ...  ...  ...  ...
97   98  198  298  398
98   99  199  299  399
99  100  200  300  400

[100 rows x 4 columns]

In [ ]:
spark.sql('SELECT * FROM ALL_TABLES')

In [ ]:
import pandas as pd