In [1]:
from pyspark.sql import SparkSession
from delta import *

In [2]:
# import pyodbc

In [3]:
import subprocess
import json
import os

In [4]:
import sys
sys.path.insert(0, r'/container/pyspark_workspace/source_code')

In [5]:
import utils.spark as utils_spark

In [6]:
spark, sqlContext = utils_spark.createSparkSession()

spark_submit_local_jars_str:
		 /container/pyspark_workspace/local_data_storage/spark/jars/delta-core_2.12-2.1.0.jar,/container/pyspark_workspace/local_data_storage/spark/jars/spark-avro_2.12-3.4.0.jar,/container/pyspark_workspace/local_data_storage/spark/jars/spark-sql-kafka-0-10_2.12-3.4.0.jar
spark_submit_extensions_str:
		 io.delta.sql.DeltaSparkSessionExtension

24/11/20 18:16:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [ ]:
import os
import time
from pyspark.sql import SparkSession
from generate_dummy_data import DummyDataGenerator

# Retrieve input variables from Airflow task parameters
server_name = 'sqlserver_database_1'
database_name = 'CreditStagingDB'
username = 'SA'
password = 'SQL_Server_Password_1000'


# JDBC URL
jdbc_url = f"jdbc:sqlserver://{server_name};databaseName={database_name};user={username};password={password}"

# Function to insert data into a table
def insert_data(table_name, data):
    df = spark.createDataFrame(data)
    df.write \
        .format("jdbc") \
        .option("url", jdbc_url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password) \
        .mode("append") \
        .save()

generator = DummyDataGenerator()

for _ in range(100):
    customer_product_account_data, account_transaction_history_data = generator.generate_data(100)
    # Generate and insert data for CustomerProductAccount table
    insert_data('CustomerProductAccount', customer_product_account_data)
    # Generate and insert data for AccountTransactionHistory table
    insert_data('AccountTransactionHistory', account_transaction_history_data)
    time.sleep(5)  # Sleep for 5 seconds

# Stop the Spark session
spark.stop()

In [3]:
# import requests
# api_token = 'dapia4995328bd677127734386305a9cf6b0'
# databrick_url = 'adb-8623833702503865.5.azuredatabrick.net'
# headers = {
#     'Authorization': f'Bearer {api_token}',
#     'Content-Type': "application/json"
# }
# run_reponse = requests.get(
#     f'https://{databrick_url}/api/2.0/secrets/acls/list',
#     headers=headers,
#     json = {
#         'scope':'ls_kv_vn01_adf_vlt01'
#     }
# )
# run_reponse.json()

In [4]:
# with open("my_new_file.txt", "w") as file:
#     file.write("This is some text inside the file.")

In [ ]:
# builder = SparkSession.builder.appName("MyApp") \
#     .master("spark://spark-master:7077")\
#     .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
#     .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

# spark = configure_spark_with_delta_pip(builder).getOrCreate()


    
# spark.sparkContext.setLogLevel("WARN")

:: loading settings :: url = jar:file:/usr/local/lib/python3.11/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-f8c0bcc0-205a-47d0-9017-950914b06b97;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.2.0 in central
	found io.delta#delta-storage;3.2.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
downloading https://repo1.maven.org/maven2/io/delta/delta-spark_2.12/3.2.0/delta-spark_2.12-3.2.0.jar ...
	[SUCCESSFUL ] io.delta#delta-spark_2.12;3.2.0!delta-spark_2.12.jar (63342ms)
downloading https://repo1.maven.org/maven2/io/delta/delta-storage/3.2.0/delta-storage-3.2.0.jar ...
	[SUCCESSFUL ] io.delta#delta-storage;3.2.0!delta-storage.jar (779ms)
downloading https://repo1.maven.org/maven2/org/antlr/antlr4-runtime/4.9.3/antlr4-runtime-4.9.3.jar ...
	[SUCCESSFUL ] org.antlr#antlr4-runtime;4.9.3!antlr4-runtime.jar (2822ms)
:: resolution report :: resolve 7546ms :: artifacts dl 66961ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.2.0 from central in [default]
	io.delta#delta-storage;3.2.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   3   |   3   |   0   ||   3   |   3   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-f8c0bcc0-205a-47d0-9017-950914b06b97
	confs: [default]
	3 artifacts copied, 0 already retrieved (6321kB/34ms)
24/11/04 17:44:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# spark.version

In [4]:
# data = [("Alice", "34"), ("Bob", "45"), ("Cathy", "29")]
# df = spark.createDataFrame(data, ["Name", "Age"])
# df.show()

In [6]:
data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name", "age"])
df.toPandas()

    name  age
0  Alice   25
1    Bob   30

In [3]:
data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name", "age"])
df.write.format("delta").mode('overwrite').option('overwriteSchema',True).save("/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A")

24/08/31 12:43:45 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [5]:
spark.read.format('delta').load("/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A").toPandas()

    name  age
0  Alice   25
1    Bob   30

In [ ]:
df = spark.sql(''' 
DESC HISTORY delta.`/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A`
''')

In [ ]:
from ipydatagrid import DataGrid
DataGrid(df)

DataGrid(auto_fit_params={'area': 'all', 'padding': 30, 'numCols': None}, corner_renderer=None, default_render…

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': range(1, 101),
    'B': range(101, 201),
    'C': range(201, 301),
    'D': range(301, 401)
})

# Set various display options
pd.set_option('display.max_rows', 6)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_colwidth', 50)
pd.set_option('display.width', 1000)
pd.set_option('display.precision', 2)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.show_dimensions', True)
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_seq_item', 10)
pd.set_option('display.memory_usage', True)

# Display DataFrame
df

      A    B    C    D
0     1  101  201  301
1     2  102  202  302
2     3  103  203  303
..  ...  ...  ...  ...
97   98  198  298  398
98   99  199  299  399
99  100  200  300  400

[100 rows x 4 columns]

In [ ]:
spark.sql('SELECT * FROM ALL_TABLES')

In [ ]:
import pandas as pd